:root {
	--color-1: #682631;
	--color-2: #893438;
	--color-3: #e2e2e2;
}

body {
	background-color: var(--color-3);
}

p {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	color: var(--color-1);
}

h3 {
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	font-size: 24px;
	color: var(--color-2);
}

h5 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: black;
}

table {
	font-family: Arial, sans-serif;	
}